/*qkrs*/

:root {
  --duck: #fcc75d; /*#ffd700;*/ /*old link: #fbcc5c */ /* REAL #FCC75D */
  --duck-mild: #ffdfa0;
  --duck-dim: #faf4d1;
  --sec: black;
  --sky: #71c7ec;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: left;
  align-items: left;
  height: 100vh;
  margin: 0;
  font-size: 16px;

  flex-direction: column;
  text-align: left;
}
p {
  margin: 5px;
  margin-left: 50px;
}

h1 {
  margin-bottom: 20px;
  margin-left: 50px;
  margin-top: 40px;
}
.bold {
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  #inputField {
    width: 250px;
  }
}

a {
  text-decoration: underline;
  background-color: none; /*rgba(251, 204, 92, 0.7);*/
  text-decoration-color: var(--sky);
  padding: 5px 10px;
  color: black;
  display: block;
  margin-top: 10px;
  text-decoration-thickness: 2px; /* Adjusting underline thickness */
  text-underline-offset: 2px; /* Adjusting underline offset */
  font-size: 16px;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
